*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New';
}

body {background-color: #C8BFE7;}

body {color: #000000;}

body {font-family:'Times New Roman', Times, serif;}

section {margin-bottom: 20px;}

div {padding: 20px;}


#TodoButton{
  text-decoration: none;  
  color: #000406;  
  font-size: 14px;
  padding: 1px 5px;  
  border-radius: 4px;   
  transition: all 0.3s ease; 
  margin-left: 1px;
} 

#sortField{
text-decoration: none;  
  color: #000406;  
  font-size: 14px;
  padding: 1px 5px;  
  border: 2px solid #000000; 
  border-radius: 4px;   
  transition: all 0.3s ease; 
  background-color: white;
  margin-left: 1px;
}



/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {background-color: #C8BFE7;}

body {color: #000000;}

body {font-family:'Times New Roman', Times, serif;}

section {margin-bottom: 20px;}

div {padding: 20px;}

h1{
mih-height:100vh;
padding: 1.5em 10em; 
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-size: 30px; 
font-weight: bold;
color: #010509; 
}

h1:nth-of-type(1){
    background-color: aqua;
}

.divider{
    aspect-ratio: 1920/1080
}

.dividerWave{
    background-image: url(wave-haikei.svg);
}

#Temperature h2{
font-size: 25px; 
font-weight: bold;
color: #010509; 
}

#location legend{
font-size: 25px; 
font-weight: bold;
color: #010509; 
}

#latitudeIdCSS{
font-weight: bold;
color: #010509; 
margin-left: -10px;
}

#longitudeIdCss{
font-weight: bold;
color: #010509;  
margin-left: -10px;
}

#setLocation{
  text-decoration: none;  
  color: #000406;  
  font-size: 14px;
  padding: 1px 5px;  
  border: 2px solid #000000; 
  border-radius: 4px;   
  transition: all 0.3s ease; 
  background-color: white;
  margin-left: 1px;
}

button{
  text-decoration: none;  
  color: #000406;  
  font-size: 14px;
  padding: 1px 5px;  
  border: 2px solid #000000; 
  border-radius: 4px;   
  transition: all 0.3s ease; 
  background-color: white;
  margin-left: 1px;
} */